---
import H2 from "@/components/H2.astro";
import PostTag from "@/components/PostTag.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getAllTags } from "@/utils";

const tags = await getAllTags();
---

<BaseLayout title="Tags">
  <H2>All tags</H2>
  {tags.map((tag) => <PostTag name={tag} />)}
</BaseLayout>
